* {
  border: 0;
  margin: 0;
  padding: 0;
  spacing: 0;

  bg: #090A09;
  bg-alt: #232323;
  fg: #FFFFFF;
  fg-alt: #424242;

  background-color: @bg;
  text-color: @fg;
}

window {
  transparency: "real";
}

mainbox {
  children: [listview];
}

listview {
  lines: 4;
}

element {
  children: [element-text];
}

element-text {
  padding: 12px;
  text-color: @fg-alt;
}

element-text selected {
  text-color: @fg;
}
